---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>

<section class="mx-auto max-w-7xl px-8 py-24">

  <p class="uppercase text-sm tracking-[0.25em] text-neutral-500">
    Blog
  </p>

  <h1 class="mt-6 max-w-4xl text-6xl font-black leading-[0.95]">
    Insights, ideas and perspectives.
  </h1>


</section>

</MainLayout>