---
import MainLayout from "../layouts/MainLayout.astro";
import { sanityClient } from "../lib/sanity";

const projects = await sanityClient.fetch(`
  *[_type == "caseStudy"]{
    title,
    category
  }
`);
---

<MainLayout>

<section class="mx-auto max-w-5xl px-8 py-24">

  <h1 class="text-5xl font-black">
    Sanity Test
  </h1>

  <pre class="mt-10">
    {JSON.stringify(projects, null, 2)}
  </pre>

</section>

</MainLayout>