---
import { projects } from "../data/projects";
---

<section class="max-w-7xl mx-auto px-8 py-20">

  <div class="flex justify-between mb-10">

    <h2 class="text-3xl font-bold">
      Selected Case Studies
    </h2>

    <a
      href="/case-studies"
      class="text-yellow-500 font-bold"
    >
      See all &rarr;
    </a>

  </div>

  <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">

    {projects.map((project) => (

      <a
  href={`/case-studies/${project.title.toLowerCase().replaceAll(" ", "-")}`}
  class="group block transition duration-300 hover:-translate-y-1"
>

        <div class="aspect-[1.2] overflow-hidden bg-neutral-300">

          <img
            src={project.image}
            alt={project.title}
            class="h-full w-full object-cover transition duration-700 group-hover:scale-105"
          />

        </div>

        <p class="mt-5 text-sm uppercase tracking-[0.2em] text-neutral-500">
          {project.category}
        </p>

        <h3 class="mt-3 text-2xl font-bold">
          {project.title}
        </h3>

        <p class="mt-3 text-neutral-600 leading-relaxed">
          Creative strategy and communication project.
        </p>

      </a>

    ))}

  </div>

</section>