---
import Button from "./Button.astro";
---

<footer class="bg-[#111] text-white mt-20">
  <div class="max-w-7xl mx-auto px-8 py-20">
    <h2 class="text-5xl font-bold">
      Ready to create impact?
    </h2>

    <div class="mt-10">
  <Button
    label="Contact us"
    href="/contact"
  />
</div>
  </div>
</footer>