---
const { currentPath = "/" } = Astro.props;
---

<header class="mx-auto flex max-w-7xl items-center justify-between px-8 py-8">

  <a href="/">
    <img
      src="/LUNION.png"
      alt="L'Union"
      class="w-[180px]"
    />
  </a>

  <nav class="hidden md:flex gap-10 text-[15px] font-medium">

    <a
  href="/"
  class={`${currentPath === "/" ? "text-black" : "text-neutral-500"} transition hover:text-black`}
>
  Home
</a>

    <a
      <a
  href="/services"
  class={`${currentPath.startsWith("/services") ? "text-black" : "text-neutral-500"} transition hover:text-black`}
>
  Services
</a>

    <a
      href="/case-studies"
      class={`${currentPath.startsWith("/case-studies") ? "text-black" : "text-neutral-500"} transition hover:text-black`}
    >
      Case Studies
    </a>

    <a
      href="/team"
      class={`${currentPath.startsWith("/team") ? "text-black" : "text-neutral-500"} transition hover:text-black`}
    >
      Team
    </a>

    <a
      href="/contact"
      class={`${currentPath.startsWith("/contact") ? "text-black" : "text-neutral-500"} transition hover:text-black`}
    >
      Contact
    </a>

    <a
      href="/blog"
      class={`${currentPath.startsWith("blog") ? "text-black" : "text-neutral-500"} transition hover:text-black`}
    >
      Blog
    </a>

  </nav>

  <div class="flex gap-3 text-sm font-medium">
    <span>FR</span>
    <span class="text-yellow-500">EN</span>
  </div>

</header>